@charset "UTF-8";

@media screen and (min-width: 1005px) {
    #burger{
        display: none;
    }

    header{
        background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
        height: auto;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
        padding: 20px;
    }

    header > menu{
        text-align: center;
    }

    .iconheader{
        height: 61px;
        width: 61px;
        display: inline-block;
    }

    menu > ul > li{
        display: inline-block;
    }

    menu ul > li > a{
        background-color: transparent;
        font-size: 25px;
        margin-right: 10px;
        width: 150px;
        border: none;
        color: var(--cor3);
    }

    menu ul > li > a:hover{
        background-color: transparent;
        text-decoration: underline;
        color: goldenrod;
        transition: 3s;
    }

    menu ul > li > a:hover::before{
        content: "→";
    }

    #hbtn{
        display: block;
        height: 40px;
        width: 144px;
        padding: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        font-weight: 600;
    }

    #hbtn > a{
        color: white;
        text-decoration: none;
    }
        
    .list{
        display: inline-block;
        margin: 10px;
        margin-right: 70px;
    }

    .list ul> a:hover{
        text-decoration: underline;
        color: goldenrod;
        transition: 3s;
    }

    header > h1{
        font-family: var(--fonteweather);
        font-size: 120px;
        text-align: center;
        color: var(--cor4);
        padding: 15px;
    }

    main{
        max-width: 1200px;
        margin: auto;
        padding: 20px;
    }

    h2{
        font-size: 3em;
    }

    h3{
        font-size: 2.2em;
    }

    p{
        font-size: 19px;
    }

    #lights{
        background-color: var(--cor3);
        background-image: url(https://i.pinimg.com/originals/bb/02/48/bb02487a1ab4ed87bb5a6b16fdf3c48e.jpg);
        background-size: cover;
        background-position: center right;  
        box-shadow: black 11px 1px 17px 5px;;
        display: flex;
        margin-bottom: 25px;
        border-radius: 350px;
        margin-top: 25px;
    }

    #div1 {
        width: 50%;
        height: 100%;
        margin: 0px;
    }

    #div1 p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 10px;
        text-align: justify;
    }

    #divfarol{
        display: none;
    }
    

    #contstamp{
        display: flex;
        margin-bottom: 25px;
    }

    #div2{
        margin: 0px;
        background-image: none;
        width: 100%;
        box-shadow: black 11px 1px 17px 5px;;
        display: flex;
        border-radius: 10px;
    }

    #stamp12{
        margin: 0px;
        width: 100%;
        padding: 0px;
    }

    #stamp34{
        margin: 0px;
        width: 100%;
        padding: 0px;
    }

    #div3{
        margin: 0px;
        width: 100%;
        height: 100%;
    }

    #div3 >p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 10px;
        text-align: justify;
    } 

    #div4{
        padding: 0px;
        background-size: contain;  
        background-attachment: local; 
        width: 100%;
        border-radius: 25px;
        display: flex;
        flex-wrap: nowrap;
        box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.491);
    }

    #photo12{
        width: auto;
    }

    #coluna1{
        width: auto;
    }

    #coluna2{
        width: 330px;
        display: flex;
        flex-wrap: wrap;
    }

    #photo34{
        width: auto;
    }

    #coluna3{
        width: auto;
    }

    #coluna4{
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    #quadro1{
        background-color: rgb(18, 16, 16);
        box-shadow: #00000069 -15px 10px 7px;
        display: inline-block;
        padding: 10px;
        height: 24vh;
        width: 13vw;
    }

    #quadro2{
        background-color: rgb(18, 16, 16);
        box-shadow: #00000069 -15px 10px 7px;
        display: inline-block;
        padding: 10px;
        height: 15vh;
        width: 10vw;
        margin-left: 50px;
        margin-top: 38px;
    }

    #quadro3{
        background-color: rgb(18, 16, 16);
        box-shadow: #00000069 -15px 10px 7px;
        display: inline-block;
        padding: 10px;
        height: 35vh;
        width: 9vw;
        margin-left: 5px;
        margin-top: 34px;
    }
    

    #quadro6{
        background-color: rgb(18, 16, 16);
        box-shadow: #00000069 -15px 10px 7px;
        display: inline-block;
        padding: 10px;
        height: 15vh;
        width: 22vw;
        margin-left: 11px;
        margin-top: 0px;
    }


    #quadro5{ 
        background-color: rgb(18, 16, 16);
        box-shadow: #00000069 -15px 10px 7px;
        display: inline-block;
        padding: 10px;
        height: 36vh;
        width: 14vw;
        margin-left: 45px;
        margin-top: 70px;
        margin-bottom: 15px;
    }

    #quadro4{/*dog*/
        background-color: rgb(18, 16, 16);
        box-shadow: #00000069 -15px 10px 7px;
        display: inline-block;
        padding: 10px;
        height: 20vh;
        width: 6vw;
        margin-left: 17px;
        top: 0px;
    }

    #sec4{
        padding: 0px;
        width: 100%;
        border-radius: 25px;
        box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.491);
    }

    #ocean{
        height: 165px;
        top: 144px;
    }

    .janelas{
        background-image: url(../imagens/parafusos.jpg);
        background-size: contain;
        height: 268px;
        border-radius: 25px;
    }

    #janela{
        height: 275px;
        width: 275px;
        top: 138px;
    }

    #bg3 p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 25px;
        text-align: justify;
        padding-right: 90px;
        padding-left: 90px;
    }

    .row4{
        width: 100%;
        padding: 0px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center bottom;
        box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.491);
    }

    #mmdash{
        max-width: 850px;
    }

    #sec5{
        width: 100%;
        padding: 0px;
        border-radius: 25px;
        box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.491);
    }

    #sec5 p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 25px;
        text-align: justify;
        padding-right: 90px;
        padding-left: 90px;
    }

    #cap{
        max-width: 70%;
    }
    
    #nautical{
        max-width: 600px;
        max-height: 500px;
    }

    #sec6{
        width: 100%;
        padding: 0px;
        box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.491);
    }

    #icons{
        padding: 30px;
    }

    .icon{
        width: 30%;
        height: 40%;
    }

    #trophys{
        width: 100%;
        padding: 0px;
        box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.491);
        border-radius: 25px;
    }

    #trophys p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 25px;
        text-align: justify;
        padding-right: 90px;
        padding-left: 90px;
    }

    #fish{
        max-width: 60%;
    }

    #fish:hover{
        border: 1px solid rgba(255, 255, 255, 0.295);
        transform: translate(-3px,-3px);
        box-shadow: 5px 5px 10px var(--cor3);
    }

    #subs{
        font-size: 2em;
    }

    .input{
        background-color: var(--cor4);
        color: var(--cor0);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
        display: inline-block;
        height: 30px;
        width: 250px;
        padding: 10px;
        padding-left: 25px;
        border-radius: 100px 0px 0px 100px;
        border: 0px;
    }

    #formbt{
        background-color: var(--cor2);
        color: var(--cor4);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 1em;
        display: inline-block;
        height: 50px;
        width: 110px;
        padding-right: 25px;
        border-radius: 0px 100px 100px 0px;
        border: 0px;
    }

    .pfooter{ 
        display: inline-block;
        margin-right: 90px;
        width: 250px;
        font-weight: bold;
        font-size: 1.7em;
        color: var(--cor3);
        text-shadow: black 1px 1px 2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 8px;
        padding-top: 7px;
        margin-bottom: 40px;
        padding-bottom: 10px;
    }

    .list{
        margin-right: 58px;
    }

    #uteis{

    }

}